body {
  background-color: #f2910a;
  text-align: center;
  color: black;
  width: 50%;
  margin-left: 25%;
}

img {
  max-width: 600px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
}

a {
  text-decoration: none;
  color: #f2910a;
  padding: 5px;
}

a:hover {
  color: whitesmoke;
}

footer {
  margin-top: 9px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #2c2d34;
}
